thead th {
    cursor: pointer;
    // margin-right: 15px;
    // margin-left: 15px;
    span {visibility: hidden;}
    &.active {  color: #000;  
                span {visibility: visible;}
    }
  }
  // .backdrop{
  //   background-color:rgba(0,0,0,0.6);
  //   position:fixed;
  //   top:0;
  //   left:0;
  //   width:100%;
  //   height:100vh;
  //   }
